[Desktop Entry]
Categories=System;
Comment[pl_PL]=Zwolnij miejsce na dysku jako root
Comment=Zwolnij miejsce na dysku jako root
Exec=sh -c 'xhost +si:localuser:root && sudo GDK_BACKEND=x11 DISPLAY=$DISPLAY bleachbit'
GenericName[pl_PL]=Program czyszczący niepotrzebne pliki (Root)
GenericName=Program czyszczący niepotrzebne pliki (Root)
Icon=bleachbit
MimeType=
Name[pl_PL]=BleachBit (SUDO)
Name=BleachBit (SUDO)
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
TryExec=bleachbit
Type=Application
Version=1.1
X-KDE-SubstituteUID=false
X-KDE-Username=
