[Desktop Entry]
Categories=System;Utility
Comment=Zwolnij miejsce na dysku i zachowaj prywatność
Exec=sh -c "xhost +si:localuser:root && sudo GDK_BACKEND=x11 DISPLAY=$DISPLAY bleachbit"
GenericName[pl_PL]=Program czyszczący niepotrzebne pliki
GenericName=Unnecessary file cleaner
Icon=bleachbit
Keywords=cache;clean;free;performance;privacy;
Name=BleachBit SUDO
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=bleachbit
Terminal=true
TerminalOptions=
TryExec=bleachbit
Type=Application
Version=1.1
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=
